Package: dev.rugmj.pinnacle
Name: Pinnacle
Version: 1.2.0
Architecture: iphoneos-arm
Description: A new way to organise your apps
Maintainer: rugmj
Author: rugmj
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0), com.ginsu.comet, com.opa334.altlist
